header {
  margin: 10px;
  position: absolute;
  color: white;
  width: 100%;
  padding: 20px 10px;
  .logo {
    display: inline-block;
    float: left;
    text-align: left;
    transition: all 0.3s ease-in-out;
    &:hover{
      color: red;
      transition: 0.3s ease-in-out;
    }
  }
  .nav-menu {
    margin-right: 20px;
    display: inline-block;
    float: right;
    text-align: right;
    a{
      display:inline-block;
      color: white;
      text-decoration: none;
      margin-left: 50px;
      margin-right: 10px;
      padding: 0px 10px;
      transition: all 0.3s ease-in-out;
      &:hover{
        color: orange;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
